SimpleDictionary/Files/SDOptions.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
  <xsd:element name="ArrayOfSDOption">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="SDOption">
          <xsd:complexType>
            <xsd:attribute name="Description" type="xsd:string" use="required" />
            <xsd:attribute name="GenerateStruct" type="xsd:boolean" use="optional" />
            <xsd:attribute name="GenerateEnum" type="xsd:boolean" use="optional" />
            <xsd:attribute name="AddComment" type="xsd:boolean" use="optional" />
            <xsd:attribute name="Name" type="xsd:string" use="required" />
            <xsd:attribute name="IsChanged" type="xsd:string" use="optional" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>